input {
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
}

.container {
    background: lightgrey;
    border: 1px solid #3f3206;
    border-radius: 5px;
}

table {
    background: #efde6a;
}